-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mswdo_analysis
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_municipality_data`
--

DROP TABLE IF EXISTS `admin_municipality_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_municipality_data` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `municipality` varchar(255) NOT NULL,
  `year` int(11) NOT NULL,
  `total_population` int(11) NOT NULL DEFAULT 0,
  `total_households` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_municipality_data`
--

LOCK TABLES `admin_municipality_data` WRITE;
/*!40000 ALTER TABLE `admin_municipality_data` DISABLE KEYS */;
INSERT INTO `admin_municipality_data` VALUES (1,'Magdalena',2024,5200,2500,'2026-04-20 11:26:25','2026-04-21 09:10:17'),(2,'Liliw',2024,100,50,'2026-04-20 11:27:13','2026-04-20 12:18:58'),(3,'Liliw',2015,12,23,'2026-04-20 11:28:40','2026-04-20 11:28:45'),(4,'Magdalena',2015,25266,5000,'2026-04-20 22:12:53','2026-04-20 22:12:53'),(5,'Magdalena',2026,5000,2000,'2026-04-21 09:09:56','2026-04-21 09:09:56'),(6,'Magdalena',2020,27816,6500,'2026-04-21 09:10:48','2026-04-21 09:10:48'),(7,'Magdalena',2027,8500,4000,'2026-04-21 09:14:07','2026-04-21 09:14:07');
/*!40000 ALTER TABLE `admin_municipality_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_settings`
--

DROP TABLE IF EXISTS `admin_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned DEFAULT NULL,
  `setting_key` varchar(255) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `admin_settings_user_id_setting_key_unique` (`user_id`,`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_settings`
--

LOCK TABLES `admin_settings` WRITE;
/*!40000 ALTER TABLE `admin_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `content` text NOT NULL,
  `type` enum('general','event','emergency','program_update') NOT NULL DEFAULT 'general',
  `program_type` varchar(100) DEFAULT NULL,
  `municipality` varchar(50) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `announcements_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
INSERT INTO `announcements` VALUES (11,'dasdawdawd','awdawdaw','emergency','all','Magdalena',21,1,'2026-04-25 08:31:31','2026-04-25 08:31:31'),(12,'dawdaw','awdawdw','general','all','Magdalena',21,1,'2026-04-25 08:32:09','2026-04-25 08:32:09'),(13,'dawdwa','adwdaw','emergency','4Ps','Magdalena',21,1,'2026-04-25 08:32:47','2026-04-25 08:32:47'),(14,'awdawd','adawda','general','Solo Parent','Magdalena',21,1,'2026-04-25 08:38:16','2026-04-25 08:38:16');
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `applications`
--

DROP TABLE IF EXISTS `applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `applications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `program_type` enum('4Ps','Senior_Citizen_Pension','PWD_Assistance','AICS','AICS_Medical','AICS_Burial','SLP','ESA','Solo_Parent') NOT NULL,
  `municipality` varchar(50) NOT NULL,
  `barangay` varchar(100) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `age` int(11) NOT NULL,
  `gender` enum('Male','Female') DEFAULT NULL,
  `contact_number` varchar(100) DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `admin_remarks` text DEFAULT NULL,
  `application_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `year` year(4) DEFAULT NULL,
  `stage` varchar(50) DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `proof_photo_path` varchar(255) DEFAULT NULL,
  `id_status` enum('not_started','processing','ready_for_pickup','released') NOT NULL DEFAULT 'not_started',
  `id_ready_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `applications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `applications`
--

LOCK TABLES `applications` WRITE;
/*!40000 ALTER TABLE `applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `appointments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `municipality` varchar(255) NOT NULL,
  `appointment_date` date NOT NULL,
  `appointment_time` varchar(255) NOT NULL,
  `interview_type` enum('face_to_face','online') NOT NULL DEFAULT 'face_to_face',
  `program_type` varchar(255) NOT NULL DEFAULT 'Solo_Parent',
  `status` enum('pending','confirmed','validated','rejected','cancelled') NOT NULL DEFAULT 'pending',
  `solo_parent_app_id` bigint(20) unsigned DEFAULT NULL COMMENT 'FK to applications.id ΓÇö set when admin validates the appointment',
  `validated_at` timestamp NULL DEFAULT NULL,
  `user_notes` text DEFAULT NULL,
  `admin_notes` text DEFAULT NULL,
  `reminded_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `appointments_user_id_index` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barangays`
--

DROP TABLE IF EXISTS `barangays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `barangays` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `municipality` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `total_population` int(11) DEFAULT 0,
  `single_parent_count` int(11) DEFAULT 0,
  `pwd_count` int(11) DEFAULT 0,
  `aics_count` int(11) DEFAULT 0,
  `four_ps_count` int(11) DEFAULT 0,
  `senior_count` int(11) DEFAULT 0,
  `total_households` int(11) DEFAULT 0,
  `total_approved_applications` int(11) DEFAULT 0,
  `year` year(4) DEFAULT 2024,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_barangay_year` (`municipality`,`name`,`year`)
) ENGINE=InnoDB AUTO_INCREMENT=657 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barangays`
--

LOCK TABLES `barangays` WRITE;
/*!40000 ALTER TABLE `barangays` DISABLE KEYS */;
/*!40000 ALTER TABLE `barangays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
INSERT INTO `cache` VALUES ('laravel-cache-5c785c036466adea360111aa28563bfd556b5fba','i:1;',1777433764),('laravel-cache-5c785c036466adea360111aa28563bfd556b5fba:timer','i:1777433764;',1777433764),('laravel-cache-announcements.Liliw','O:39:\"Illuminate\\Database\\Eloquent\\Collection\":2:{s:8:\"\0*\0items\";a:0:{}s:28:\"\0*\0escapeWhenCastingToString\";b:0;}',1777434726),('laravel-cache-dashboard.stats.68','a:4:{s:5:\"total\";i:1;s:7:\"pending\";i:0;s:8:\"approved\";i:1;s:8:\"rejected\";i:0;}',1777434785);
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_tokens`
--

DROP TABLE IF EXISTS `device_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `device_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `token` varchar(500) NOT NULL,
  `device_type` varchar(255) DEFAULT NULL,
  `device_name` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `device_tokens_user_id_token_unique` (`user_id`,`token`),
  KEY `device_tokens_user_id_index` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_tokens`
--

LOCK TABLES `device_tokens` WRITE;
/*!40000 ALTER TABLE `device_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `device_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_monitoring`
--

DROP TABLE IF EXISTS `file_monitoring`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `file_monitoring` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `application_id` int(11) NOT NULL,
  `user_id` int(11) DEFAULT NULL,
  `assigned_admin_id` int(11) DEFAULT NULL,
  `priority` enum('low','medium','high') DEFAULT 'medium',
  `overall_status` enum('pending','in_review','approved','rejected') DEFAULT 'pending',
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `municipality` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `application_id` (`application_id`),
  KEY `assigned_admin_id` (`assigned_admin_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `file_monitoring_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `applications` (`id`) ON DELETE CASCADE,
  CONSTRAINT `file_monitoring_ibfk_2` FOREIGN KEY (`assigned_admin_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `file_monitoring_ibfk_3` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_monitoring`
--

LOCK TABLES `file_monitoring` WRITE;
/*!40000 ALTER TABLE `file_monitoring` DISABLE KEYS */;
/*!40000 ALTER TABLE `file_monitoring` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_status_logs`
--

DROP TABLE IF EXISTS `file_status_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `file_status_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `file_monitoring_id` int(11) NOT NULL,
  `user_id` int(11) DEFAULT NULL,
  `changed_by` int(11) NOT NULL,
  `old_status` varchar(50) DEFAULT NULL,
  `new_status` varchar(50) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `requirement_name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `municipality` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `file_monitoring_id` (`file_monitoring_id`),
  KEY `changed_by` (`changed_by`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `file_status_logs_ibfk_1` FOREIGN KEY (`file_monitoring_id`) REFERENCES `file_monitoring` (`id`) ON DELETE CASCADE,
  CONSTRAINT `file_status_logs_ibfk_2` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `file_status_logs_ibfk_3` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_status_logs`
--

LOCK TABLES `file_status_logs` WRITE;
/*!40000 ALTER TABLE `file_status_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `file_status_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_uploads`
--

DROP TABLE IF EXISTS `file_uploads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `file_uploads` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `file_monitoring_id` int(11) NOT NULL,
  `user_id` int(11) DEFAULT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `file_path` text DEFAULT NULL,
  `requirement_name` varchar(255) DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `remarks` text DEFAULT NULL,
  `admin_remarks` text DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `verified_by` int(11) DEFAULT NULL,
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `municipality` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `file_monitoring_id` (`file_monitoring_id`),
  KEY `user_id` (`user_id`),
  KEY `verified_by` (`verified_by`),
  CONSTRAINT `file_uploads_ibfk_1` FOREIGN KEY (`file_monitoring_id`) REFERENCES `file_monitoring` (`id`) ON DELETE CASCADE,
  CONSTRAINT `file_uploads_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `file_uploads_ibfk_3` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_uploads`
--

LOCK TABLES `file_uploads` WRITE;
/*!40000 ALTER TABLE `file_uploads` DISABLE KEYS */;
/*!40000 ALTER TABLE `file_uploads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_reserved_at_available_at_index` (`queue`,`reserved_at`,`available_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sender_id` int(10) unsigned NOT NULL,
  `receiver_id` int(10) unsigned NOT NULL,
  `message` text NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `messages_sender_id_index` (`sender_id`),
  KEY `messages_receiver_id_index` (`receiver_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
INSERT INTO `messages` VALUES (1,41,22,'yow',1,'2026-04-12 21:25:30','2026-04-12 21:26:05'),(2,22,41,'ano po ang kailangan nila',1,'2026-04-12 21:26:16','2026-04-12 21:26:41'),(3,41,22,'hoy',1,'2026-04-22 19:06:52','2026-04-22 19:07:13'),(4,22,41,'balita',1,'2026-04-23 16:44:01','2026-04-23 16:44:43'),(5,22,41,'hakdog',1,'2026-04-24 05:47:41','2026-04-24 05:47:45'),(6,41,22,'hindi ako makapag pasa ng requirements',1,'2026-04-26 15:26:12','2026-04-26 15:26:44'),(7,22,41,'bakit',1,'2026-04-26 15:26:48','2026-04-26 15:26:49');
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `municipalities`
--

DROP TABLE IF EXISTS `municipalities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `municipalities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `total_households` int(11) DEFAULT 0,
  `total_population` bigint(20) unsigned NOT NULL DEFAULT 0,
  `male_population` int(11) DEFAULT 0,
  `female_population` int(11) DEFAULT 0,
  `population_0_19` int(11) DEFAULT 0,
  `population_20_59` int(11) DEFAULT 0,
  `population_60_100` int(11) DEFAULT 0,
  `single_parent_count` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `year` year(4) DEFAULT 2024,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `municipalities`
--

LOCK TABLES `municipalities` WRITE;
/*!40000 ALTER TABLE `municipalities` DISABLE KEYS */;
INSERT INTO `municipalities` VALUES (2,'Liliw',9750,39976,20180,19796,11420,25120,2836,312,'2026-02-25 07:54:14',2024,NULL),(3,'Majayjay',5938,28503,14708,13796,8266,18301,1937,285,'2026-02-25 15:54:14',2024,NULL),(8,'Magdalena',6050,28200,14181,13950,8949,17778,1404,0,'2026-04-23 10:21:01',2024,NULL),(14,'Santa Rosa',2500,0,0,0,0,0,0,0,'2026-04-25 06:18:51',2024,'2026-04-25 06:21:23');
/*!40000 ALTER TABLE `municipalities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `municipality_monthly_summary`
--

DROP TABLE IF EXISTS `municipality_monthly_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `municipality_monthly_summary` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `municipality` varchar(255) NOT NULL,
  `year` smallint(5) unsigned NOT NULL,
  `month` tinyint(3) unsigned NOT NULL,
  `total_pwd` int(10) unsigned NOT NULL DEFAULT 0,
  `total_aics` int(10) unsigned NOT NULL DEFAULT 0,
  `total_solo_parent` int(10) unsigned NOT NULL DEFAULT 0,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `monthly_unique` (`municipality`,`year`,`month`),
  KEY `municipality_monthly_summary_municipality_year_index` (`municipality`,`year`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `municipality_monthly_summary`
--

LOCK TABLES `municipality_monthly_summary` WRITE;
/*!40000 ALTER TABLE `municipality_monthly_summary` DISABLE KEYS */;
INSERT INTO `municipality_monthly_summary` VALUES (1,'Liliw',2026,4,6,6,0,NULL,'2026-04-13 01:28:32','2026-04-13 01:28:32',NULL);
/*!40000 ALTER TABLE `municipality_monthly_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `municipality_visions`
--

DROP TABLE IF EXISTS `municipality_visions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `municipality_visions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `municipality_name` varchar(255) NOT NULL,
  `vision` text DEFAULT NULL,
  `mission` text DEFAULT NULL,
  `goals` text DEFAULT NULL,
  `strategic_goals` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`strategic_goals`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `municipality_visions_municipality_name_unique` (`municipality_name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `municipality_visions`
--

LOCK TABLES `municipality_visions` WRITE;
/*!40000 ALTER TABLE `municipality_visions` DISABLE KEYS */;
INSERT INTO `municipality_visions` VALUES (1,'Liliw',NULL,NULL,NULL,'[\"holdapin ka\"]','2026-04-28 00:02:25','2026-04-28 00:02:39');
/*!40000 ALTER TABLE `municipality_visions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `municipality_yearly_summary`
--

DROP TABLE IF EXISTS `municipality_yearly_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `municipality_yearly_summary` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `municipality` varchar(50) DEFAULT NULL,
  `year` year(4) DEFAULT NULL,
  `total_population` int(11) DEFAULT 0,
  `population_0_19` int(10) unsigned NOT NULL DEFAULT 0,
  `population_20_59` int(10) unsigned NOT NULL DEFAULT 0,
  `population_60_100` int(10) unsigned NOT NULL DEFAULT 0,
  `male_population` int(10) unsigned NOT NULL DEFAULT 0,
  `female_population` int(10) unsigned NOT NULL DEFAULT 0,
  `total_households` int(11) DEFAULT 0,
  `total_4ps` int(11) DEFAULT 0,
  `total_pwd` int(11) DEFAULT 0,
  `total_senior` int(11) DEFAULT 0,
  `total_aics` int(11) DEFAULT 0,
  `total_esa` int(11) DEFAULT 0,
  `total_slp` int(11) DEFAULT 0,
  `total_solo_parent` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  `income_level` tinyint(3) unsigned DEFAULT NULL COMMENT '1=Very Low to 5=Very High',
  `unemployment_rate` decimal(5,2) DEFAULT NULL COMMENT 'Unemployment rate in percent',
  `education_level` tinyint(3) unsigned DEFAULT NULL COMMENT '1=Low, 2=Moderate, 3=High',
  `migration_rate` decimal(5,2) DEFAULT NULL COMMENT 'Net migration rate in percent',
  `marriage_rate` decimal(5,2) DEFAULT NULL COMMENT 'Marriage rate per 1,000 population',
  `poverty_rate` decimal(5,2) DEFAULT NULL COMMENT 'Poverty incidence rate in percent',
  `literacy_rate` decimal(5,2) DEFAULT NULL COMMENT 'Literacy rate in percent',
  `school_enrollment_rate` decimal(5,2) DEFAULT NULL COMMENT 'School enrollment rate in percent',
  `labor_force_participation_rate` decimal(5,2) DEFAULT NULL COMMENT 'Labor force participation rate in percent',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `municipality_yearly_summary`
--

LOCK TABLES `municipality_yearly_summary` WRITE;
/*!40000 ALTER TABLE `municipality_yearly_summary` DISABLE KEYS */;
/*!40000 ALTER TABLE `municipality_yearly_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_views`
--

DROP TABLE IF EXISTS `notification_views`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notification_views` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `last_viewed_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_views`
--

LOCK TABLES `notification_views` WRITE;
/*!40000 ALTER TABLE `notification_views` DISABLE KEYS */;
INSERT INTO `notification_views` VALUES (1,41,'2026-04-27 19:10:11','2026-04-24 02:33:16','2026-04-27 19:10:11'),(2,42,'2026-04-25 08:38:22','2026-04-25 08:13:01','2026-04-25 08:38:22'),(3,21,'2026-04-25 20:21:20','2026-04-25 09:11:25','2026-04-25 20:21:20'),(4,20,'2026-04-25 09:28:46','2026-04-25 09:26:45','2026-04-25 09:28:46'),(5,60,'2026-04-25 09:45:47','2026-04-25 09:45:47','2026-04-25 09:45:47'),(6,61,'2026-04-25 20:16:48','2026-04-25 20:16:39','2026-04-25 20:16:48'),(7,22,'2026-04-28 17:14:54','2026-04-26 02:49:04','2026-04-28 17:14:54');
/*!40000 ALTER TABLE `notification_views` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `type` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  `body` text NOT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data`)),
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_user_id_index` (`user_id`),
  KEY `notifications_type_index` (`type`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,1,'solo_parent','Test','Test',NULL,0,NULL,'2026-04-28 13:09:37',NULL);
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` text NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program_requirements`
--

DROP TABLE IF EXISTS `program_requirements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `program_requirements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `program_type` varchar(100) DEFAULT NULL,
  `requirement_name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program_requirements`
--

LOCK TABLES `program_requirements` WRITE;
/*!40000 ALTER TABLE `program_requirements` DISABLE KEYS */;
/*!40000 ALTER TABLE `program_requirements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pwd_requirement_checks`
--

DROP TABLE IF EXISTS `pwd_requirement_checks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pwd_requirement_checks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `application_id` bigint(20) unsigned NOT NULL,
  `requirement_key` varchar(255) NOT NULL,
  `requirement_label` varchar(255) NOT NULL,
  `status` enum('pending','submitted','verified','rejected') NOT NULL DEFAULT 'pending',
  `file_path` varchar(255) DEFAULT NULL,
  `admin_notes` text DEFAULT NULL,
  `checked_by` bigint(20) unsigned DEFAULT NULL,
  `checked_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pwd_requirement_checks`
--

LOCK TABLES `pwd_requirement_checks` WRITE;
/*!40000 ALTER TABLE `pwd_requirement_checks` DISABLE KEYS */;
/*!40000 ALTER TABLE `pwd_requirement_checks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `social_welfare_programs`
--

DROP TABLE IF EXISTS `social_welfare_programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `social_welfare_programs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `municipality` varchar(50) NOT NULL,
  `barangay` varchar(100) DEFAULT NULL,
  `program_type` enum('4Ps','Senior_Citizen_Pension','PWD_Assistance','AICS','SLP','ESA','Solo_Parent') NOT NULL,
  `beneficiary_count` int(11) DEFAULT 0,
  `year` year(4) DEFAULT 2024,
  `month` int(11) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `municipality_year_index` (`municipality`,`year`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `social_welfare_programs`
--

LOCK TABLES `social_welfare_programs` WRITE;
/*!40000 ALTER TABLE `social_welfare_programs` DISABLE KEYS */;
/*!40000 ALTER TABLE `social_welfare_programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(100) NOT NULL,
  `mobile_number` varchar(20) DEFAULT NULL,
  `full_name` varchar(100) NOT NULL,
  `birthdate` date DEFAULT NULL,
  `age` int(11) DEFAULT NULL,
  `gender` varchar(10) NOT NULL,
  `role` enum('super_admin','admin','user') NOT NULL,
  `municipality` varchar(50) DEFAULT NULL,
  `barangay` varchar(255) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `archived_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `otp_code` varchar(10) DEFAULT NULL,
  `otp_expires_at` datetime DEFAULT NULL,
  `reset_token` varchar(100) DEFAULT NULL,
  `reset_token_expires_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-29 13:51:42
